/* ----------------- Class CSS ----------------- */

.about{
    width:400px;
    margin: auto;
}

.about-team{
    color:rgb(82, 81, 81)
}

.authors{
    background-color: #fcfafa;
}

.body{
    background-color: #82acff;
    font-family: 'Alan Sans', sans-serif
}

.footer{
    background-color: #a5bdfd;
}

.icon-white{            /* Arrow icon at bottom of page */
    color: #FFFFFF;
}

.nb-background-color{   /* navbar background color */
    background-color: #a5bdfd;
}

.nbMenuItem{               /* navbar link text properties */
    font-size:25px;
    margin-left: 10px;
    margin-right: 10px;
}

.overview{
    background-color: #fcfafa;
}

.ovPadLeft{
    padding-left: 20px;
}

.ovPadRight{  
    padding-right: 20px;
}

.procedure{
    background-color: #fcfafa;
    padding: 1px;
}

.showcase{
    background-color: #4f81c7; /*#0096c7*/
}

/* ----------------- ID CSS ----------------- */

/* -----------------Underline Animation CSS -----------------*/
.hover-underline-animation {
    display: inline-block;
    position: relative;
    /*color: #0087ca;*/
  }
  
.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #eae6e6;
    /*transform-origin: bottom right;*/
    transition: transform 0.35s ease-out;
}
  
.hover-underline-animation:hover:after {
    transform: scaleX(1);
    /*transform-origin: bottom left;*/
}

.navbar-brand {
    width: 10%;
}

.showcase-image {
    width: 70%;
}

.rotate:hover {
    transform: rotate(360deg);
    transition: transform 0.5s;
}

.horizontally-centered {
    margin-left: auto;
    margin-right: auto;
}

.vertically-centered {
    margin-top: auto;
    margin-bottom: auto;
}

.procedure-image {
    width: 200px;
    height: auto;
}

.rationale-image {
    width: 750px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.rp-image {
    width: 70%;
    height: auto;
    margin-left: 50px;
    margin-right: auto;
}
